body{
    margin: 0;
}

.images{
    padding: 50px;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
    /* border: 1px solid red; */
}

.img_item {
    box-sizing: border-box;
    padding: 3px;
    float: left;
    width: 25%;
}

.img_item img {
    width: 100%;
}

.under_text {
    float: left;
    color: yellow;
    background-color: rgb(19, 20, 20);
    padding: 10px;
    text-align: center;
    
}
